extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href='https://github.com/AtteHil/OwnOuraApipage') OuraApi
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/') Info
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Chart
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#', id='navbarDropdown', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Different data
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/sleep') Sleep
            a.dropdown-item(href='/activity') Activity
            //- .dropdown-divider
            a.dropdown-item(href='/readiness') Readiness
        

      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search', id='PersonalToken', placeholder='Input your token', aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='button',id='submit-token' onclick='fetchApiData(false)') Find Data 
  div(class="dateSubmit")
    div(class="inputs")
      label(for='startDate') Start date: 
      input(type="date" id="startDate")
      label(for='endDate') End date: 
      input(type="date" id="endDate")
      button(type="button" id="sleepButton" onclick="getSelectedRange()") Find activity scores
  div(id='activityInfo' class='sleepinfoBox')
  script(src="javascripts/front_end_functions.js")
  script(src="javascripts/activity.js")
  