:root {
  --primary-color: #0c6e0c;
  --div-background: #535353;
  --secondary-color: #0f8f0f;
  --text-color: #00b800;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #424242 !important;
  /*!important tag overwrites navbars body background-color*/
}

.navbar {
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(4, 241, 36, 0.4);
  /* box shadow for navbar*/
}

#submit-token {
  /* Find data button text color*/
  color: black;
  border-color: #00ff00;
}

.navbar .dropdown-menu {
  background-color: var(--primary-color);
  /* Set the background color for the dropdown menu */
}

.navbar .dropdown-item:hover {
  background-color: var(--secondary-color) !important;
  /* Set the background color for the dropdown menu */
  border-radius: 10px;
}
#chartText{ /* title under the chart*/
  padding-top: 15px;
  color: var(--text-color);

}
.navbar-nav .nav-link:hover {
  background-color: var(--secondary-color);
  border-radius: 15px;
  /* Set the background color on hover for the nav links */
}

.canvasDiv{ /*div for the chart canvas*/
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 255, 34, 0.4);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.infoText {
  padding: 5px 15px 5px 15px;
}

#infoBoxes {
  padding-top: 30px;
  display: flex;
  width: 100%;
}

.infoBox:first-child {
  margin-right: 20px;
}



.infoBox {
  display: none;
  width: 50%;

  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 255, 34, 0.4);
  background-color: var(--div-background);
}

.nightText {
  /* setting attributes for night divs and texts in sleep page*/
  padding: 5px 15px 5px 15px;
}

.night {
  padding: 10px;
  box-sizing: border-box;
  margin: 0 10px 20px;
  flex-basis: 30%;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 255, 34, 0.4);
  background-color: var(--div-background);
}



.sleepinfoBox {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*style for date input*/
.dateSubmit {

  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
  border-radius: 15px;
  box-shadow: 0 4px 6px var(--secondary-color);
  background-color: var(--primary-color);

}

label {
  margin: 0 4px 0 3px;
  font-weight: bold;
}

#sleepButton {
  border-radius: 5px;
  margin-left: 5px;
  background-color: var(--primary-color);
  border-color: #00ff00;
}

#sleepButton:hover {
  background-color: var(--secondary-color);
}

input {
  border-radius: 5px;
  background-color: var(--primary-color);
}

.inputs {
  margin-top: 5px;
}